@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
}

ul {
  padding: 0;
  list-style: none;
}

.dflex {
  display: flex;
}

.sp-bet {
  justify-content: space-between;
}

.just-c-center {
  justify-content: center;
}

.align-i-center {
  align-items: center;
}

.t-align-center {
  text-align: center;
}

.pos-rel{
  position: relative;
}

.pos-abs{
  position: absolute;
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  height: 80px;
}


.container {
  width: 1170px;
  margin: auto;
}

.background-grey {
  background: #eef1f2;
}

a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #342b2b;
}

h1 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  color: #342b2b;
  margin: 0;
  margin-bottom: 60px;
}

h2 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #342b2b;
  margin: 0;
  margin-bottom: 60px;
}

h3 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02em;

  color: #342b2b;

  margin: 12px 0;
}

.main-menu-list {
  width: 655px;
}

.pre-sub-list{
  position: relative;
}

.pre-sub-list a {
  margin-right: 10px;
}

.pre-sub-list img{
  transform: rotate(180deg);
}

.pre-sub-list:hover img{
  transform: rotate(360deg);
  transition: 0.6s;
}

.pre-sub-list:hover .sub-list{
 visibility: visible;
}

.sub-list{
  width: 150px;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  top: 25px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sub-list a{
  padding: 15px;
}

.lk {
  width: 243px;
}

.lk a {
  box-sizing: border-box;
  border: 1px solid #1e3daf;
  border-radius: 4px;
}

.sign-in {
  width: 86px;
  height: 36px;
  background: #1e3daf;
  color: white;
}

.sign-up {
  width: 150px;
  height: 36px;
  background: transparent;
  color: #1e3daf;
}

.banner {
  padding: 100px 0;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #342b2b;
}

.banner-info-txt p {
  margin-bottom: 60px;
}

.banner img {
  width: 315px;
  height: 315px;
}

.image-js {
  width: 243px;
  height: 243px;
}

.sub-info {
  width: 895px;
  font-size: 18px;
  margin-bottom: 60px;
}

.sub-info-i p {
  margin: 0;
  margin-top: 4px;
}

.blue-btn {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 247px;
  height: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
  background: #1e3daf;
  border: none;
  border-radius: 4px;
}

.course-image {
  height: 348px;
}

.about-course {
  padding: 100px 0 150px 0;
}

.course-txt {
  margin: 0;
}

.tools {
  width: 600px;
  margin: 25px 0 0 0;
}

.tools-i {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-i p {
  font-weight: 300;
  font-size: 14px;
  color: #342b2b;
  opacity: 0.6;

  margin: 10px 0 0 0;
}

.tgr {
  position: relative;
  width: 565px;
  height: 398px;
  border-radius: 4px;
  background: #eef1f2 url(/images/white-dots.svg) no-repeat 40px 5px;
}

.tgr-txt {
  background-color: #FFFFFF;
  margin-top: 18px;
  padding-top: 60px;
  padding-left: 40px;
  height: 320px;
  box-shadow: 0px 32px 42px rgba(30, 61, 175, 0.15);
  border-radius: 4px;
}

.tgr-txt ul {
  padding-left: 20px;
  margin: 0;
  list-style: url(/images/marker.svg);
}

.tgr-txt p {
  padding-left: 17px;
  margin: 0;
  margin-bottom: 24px;
  height: 20px;
}

.container-experts {
  padding: 150px 0;
  border-bottom: 1px solid rgba(52, 43, 43, 0.2);
}

.experts-list {
  width: 100%;
  margin-top: 40px;
}

.experts-list-i {
  width: 250px;
}

.experts-list-i p {
  font-weight: 300;
  font-size: 14px;
  margin: 12px 0;
}

.underline {
  width: 101px;
  height: 4px;
  background: #1e3daf;
}

.career .container-experts {
  border: none;
}

.partner-list {
  margin-top: 40px;
}

.course-program .container-experts {
  position: relative;
  border: none;
  padding-bottom: 300px;
}

.programs-i {
  position: relative;
  width: 820px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 12px;
  cursor: pointer;
}

.head {
  width: 100%;
}

.img-btn {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 15px;
}

.programs-i p {
  visibility: hidden;
  position: absolute;
  top: 60px;
  margin: 0;
}

.programs-i h3 {
  margin: 0;
}

.programs-i:active p {
  visibility: visible;
}

.programs-i:active {
  height: 130px;
}

.programs-i:active img {
  transform: rotate(45deg);
  transition: 0.4s;
}

.course-program-img {
  position: absolute;
  top: 150px;
  left: 765px;
}

.blue-block {
  position: relative;
  height: 300px;
  background-color: #1e3daf;
}

.subscribe-course {
  position: absolute;
  height: 216px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 40px 0 40px 40px;
  bottom: 147px;
}

.subscribe {
  padding-right: 92px;
  border-right: 1px solid rgba(52, 43, 43, 0.2);
}

.subscribe-course h2 {
  margin-bottom: 32px;
}

.place {
  margin-bottom: 40px;
}

.place-item {
  margin-bottom: 16px;
}

.place-item p {
  margin: 0;
}

.place-item img {
  opacity: 0.2;
  margin-right: 15px;
}

.nngu {
  width: 585px;
}

.nngu-logo {
  width: 146px;
}

footer {
  background: #342b2b;
}

.footer-container{
  padding: 47px 0 52px;
}

.f-top-list-l{
  width: 425px;
}

.f-top-list-l img{
  width: 93px;
  height: fit-content;
  padding-right: 43px;
  border-right: 1px solid #FFFFFF;
}

.f-top-list-r{
  width: 160px;
  margin: 0;
}

.footer-middle-list {
margin: 64px 0 76px;
}

.footer-middle-list a{
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

footer p{
  font-weight: 300;
  font-size: 12px;

  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
}

.txt-underline{
  text-decoration: underline;
}